.Cuadrado-transparente {
    background: rgba(205, 138, 57, 0.4);
    margin-right: auto;
    padding: 10px;
    width: 70%;
    border-radius: 12px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    color: #CD8A39;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 150px;
    color: white;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.columna {
    margin-right: 20px;
    margin-left: 20px;
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.producto {
    background: #e7f0ff;
    border-left: 4px solid #007BFF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.formulario {
    max-width: 500px;
    margin: 0 auto 30px;
    margin-top: 30px;
    padding: 20px;
    background: #ca7842;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.formulario h2 {
    margin-bottom: 10px;
}

.formulario input,
.formulario select,
.formulario button {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f0f2bd;
}

.formulario button {
    width: 99%;
    background-color: #1d2a10;
    color: #cd8a39;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #218838;
}
.columna {

    flex: 1;
    background: #ca7842;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.producto {
    background: #CD8A39;
    border-left: 4px solid #007BFF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.dropdown {
    border: none;
    position:  relative;

    height: 40px;
    margin: 0 auto 20px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(75, 53, 42);
    color: rgb(205, 138, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    user-select: none;
}
.card{
    max-width: 900px;
    margin: 0 auto;
    background: rgba(205, 138, 57, 0.1);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(45, 79, 43, 0.3);
}