
.Cuadrado-transparente {
    background: rgba(205, 138, 57, 0.4);
    margin-right: auto;
    padding: 10px;
    width: 70%;
    border-radius: 12px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    color: #CD8A39;
}
