.notificacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: #fffefb;
    color: #1D2A10;
    border-bottom: 1px solid #e0dfdb;
}
.notificacion strong {
    color: #CD8A39;
}
.notificacion button {
    background: none;
    border: none;
    color: #bbb;
    cursor: pointer;
    font-size: 16px;
}
.notificacion button:hover {
    color: red;

}
.contenedor-perfil-notificaciones {
    display: flex;
    align-items: center;
    gap: 10px; /* antes 20px */
    margin-right: 20px;
}
