.Cuadrado-transparente {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    background-color: rgba(205, 138, 57, 0.2);
    border-radius: 15px;
    color: #1D2A10;
    min-height: 200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Scroll para el contenedor de notificaciones */
#notificaciones-box {
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
    color: #1D2A10;
}


.tarea-content {
    margin: 20px auto;
    height: auto;
    max-width: 1000px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    gap: 10px;
    background-color: #cd8a39
}

.tarea-buttons {
    border-radius: 10px;
    background-color: #ca7842;
    color: #4b352a;
    height: 30px;
    width: 150px;
    border: none;
}
.tarea-buttons:hover {
    background-color: #CD8A39;
    color: #1D2A10;
}

.tarea input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
.dropdown {
    border: none;
    position: relative;
    width: 220px;
    height: 40px;
    margin: 0 auto 20px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(202, 120, 66);
    color: rgb(75, 53, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    user-select: none;
}
.dropdown-options {
    position: absolute;
    text-align: center;
    align-items: center;
    top: 100%;
    left: 0;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 10;
    box-sizing: border-box;
    display: none;
}
