/* Igual al anterior pero con tabla */
@import url('crear-parcela.css');

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  color: #1D2A10;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #CD8A39;
  color: #1D2A10;
}
